<%- include('./particals/head.ejs') %>


<section class="detail">
    <img src="/assets/Placeholder.jpg">
    <section>
        <h1><%= stekjes.naam %></h1>
        <p>Hoi</p>
    </section>

</section>



<%- include('./particals/foot.ejs') %>