<%- include('./particals/head.ejs') %>


    <h1>Stekjesbieb</h1>

    <section class="filters">
        <div class="filters-btn">
            <i class="fa-solid fa-filter"></i>
            <p>Filters</p>
        </div>

        <div class="filter-menu">
           
        </div>
    </section>

        <ul class="stekjes">
            <% stekjes.forEach(stekje => { %>
                <li class="stekje">
                    <h2><%= stekje.naam %></h2>
                    <a href="/stekje?id=<%= stekje.id %>">Meer informatie</a>
                </li>
            <% }) %>
        </ul>


<%- include('./particals/foot.ejs') %>