<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Swap</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://kit.fontawesome.com/bdaa2a2cc7.js" crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <header>
        <nav class="navbar">
            <a href="/"><img src="assets/Logo-plantswap.png"></a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#">Hoe werkt het?</a>
                </li>
                <li class="nav-item">
                    <a href="/stekjesbieb">Stekjesbieb</a>
                </li>
                <li class="nav-item">
                    <a href="/form">Toevoegen</a>
                </li>
                <li class="nav-item">
                    <a href="#">Over</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>
            </ul>
            
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>