* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    line-height: 1.4;
}

:root {
    /* Color */
    --dark-green: #214D12;
    --medium-green: #75916E;
    --light-green: #B8C7B4;
    --dark-blue: #333568;
    --medium-blue: #7D81A4;
    --light-blue: #BCBED1;
    --black: #000000;
    --white: #ffffff;

    /* Font */
    --header: 'Arial', sans-serif;
    --bodytext: 'Arial', sans-serif;

    /* Font weight */
    --regular: 400;
    --bold: 800;

    /* Fontsize */
    --h1: 32px;
    --h2: 26px;
    --h3: 22px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --p: 16px;

    /* Border */
    --radius: 10px;

    /* Margins stekjes */
    --top-bottom: 20px;
    --left-right: 10px
}

/* Header */

header {
    box-shadow:0 0 12px 1px rgb(0 0 0 / 10%);
    width: 100%;
    padding: 10px;
    position: sticky;
}

nav > a > img {
    width: 100px;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    background-color: var(--white);
    height: 100%;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 16px 0;
    font-family: var(--bodytext);
    font-weight: var(--regular);
    font-size: var(--h3);
}

.nav-item a {
    transition: 0.7s ease;
    color: var(--black);
}

.fa-solid {
    width: 10px;
    height: auto;
    color: var(--dark-blue);
    font-size: var(--h3);
}

.hamburger{
    display: block;
    cursor: pointer;
}
  
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--black);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Main */

main  {
    padding: 40px 30px 20px 30px;
}

main h1 {
    font-family: var(--header);
    font-weight: var(--bold);
    font-size: var(--h1);
}

main p {
    font-family: var(--bodytext);
    font-weight: var(--regular);
    font-size: var(--p);
}

/* Filters */

/* .filters {
} */

.filters-btn {
    font-family: var(--bodytext);
    font-size: var(--p);
    font-weight: var(--regular);
    border: 1px solid var(--dark-blue);
    width: 125px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Stekjes */

.stekjes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stekje {
    background-color: var(--light-green);
    margin: 20px;
    border-radius: var(--radius);
    text-align: center;
    width: 80%;
    aspect-ratio: 1 / 1.5;
}

.stekje > img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 80%;
    border-radius: var(--radius);
    margin: var(--top-bottom) var(--left-right);
}

.stekje > a {
    font-family: var(--header);
    font-size: var(--p);
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: var(--radius);
    padding: 17px;
    margin-bottom: var(--top-bottom);
    display: inline-block;
}

.stekje > h2 {
    font-family: var(--header);
    font-size: var(--h2);
    font-weight: var(--bold);
    margin-bottom: var(--top-bottom);
}

/* Detail page */

.detail img {
    width: 100vw;
    margin-left: -30px;
    margin-top: -40px;
}

.detail h1 {
    font-family: var(--header);
    font-size: var(--h1);
    font-weight: var(--bold);
    margin: 20px 0 20px 0;
}

.detail h2 {
    font-family: var(--header);
    font-size: var(--h4);
    font-weight: var(--bold);
    margin: 10px 0 5px 0;
}

.detail a {
    font-family: var(--header);
    font-size: var(--p);
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: var(--radius);
    padding: 15px;
    margin-bottom: var(--top-bottom);
    display: inline-block;
    margin-top: 20px;
}


/* Form */

form {
    font-family: var(--header);
    font-size: var(--p);
    font-weight: var(--regular);
    display: flex;
    flex-direction: column;
}

form label {
    margin: 20px 0 2px 0;
}

input[type="submit"] {
    font-family: var(--bodytext);
    font-size: var(--p);
    font-weight: var(--regular);
    border: 1px solid var(--dark-blue);
    width: 125px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Footer */

footer {
    box-shadow:0 0 12px 1px rgb(0 0 0 / 4%);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    position: relative;
    bottom: 0;
}

footer > a > img {
    width: 100px;
    height: auto;
}

footer > p {
    font-family: var(--bodytext);
    font-weight: var(--regular);
    font-size: var(--p);
}
